.header {
    /*height: 110px;*/
    background: var(--primary-color);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 1rem;
}

.logo {
    cursor: pointer;
}

.mLogo {
    display: none;
    cursor: pointer;
}

.navigation {
    display: flex;
    color: white;
    text-transform: uppercase;
    gap: 4rem;
}

.item {
    font-family: "Druk", sans-serif;
    font-size: var(--font-size-sm);
    font-weight: normal;
    cursor: pointer;
}

.item.active {
    color: var(--warning-color);
}

.mobileNavigation {
    display: none;
}

@media (max-width: 992px) {
    .navigation {
        gap: 2rem;
    }
}

@media (max-width: 767px) {
    .logo {
        display: none;
    }

    .mLogo {
        display: block;
    }

    .container {
        padding: 10px 1rem;
    }

    .navigation {
        display: none;
    }

    .mobileNavigation {
        display: block;
    }
}
