.banner {
    position: relative;
}

.wrapper {
    width: 100%;
    position: relative;
    display: block;
}

.wrapper::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / 2.5);
}

.image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--bg-grey) url("../../../assets/images/banner-carriers.png") no-repeat center;
    background-size: cover;
    z-index: 3;
}

.image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--primary-color);
    opacity: .67;
    z-index: 4;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: var(--max-width);
    margin: 0 auto;
    z-index: 5;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: calc(100% / 5);
    transform: translateY(15%);
}

.title {
    font-size: var(--font-size-title);
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 300;
    text-transform: uppercase;
}

.desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 84px;
}
