.banner {
    position: relative;
    margin-bottom: 40px;
    background: var(--bg-grey) url("../../../assets/images/banner.jpg") no-repeat center;
    background-size: cover;
}

.banner::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--primary-color);
    opacity: .48;
    z-index: 4;
}

.container {
    position: relative;
    z-index: 10;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    gap: 178px;
    padding: 83px 1rem;
}

.title {
    color: white;
    font-family: Druk, sans-serif;
    font-size: var(--font-size-title);
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .container {
        gap: 80px;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .container {
        gap: 40px;
        padding: 60px 1rem;
    }
}
