@charset "utf-8";

@font-face {
    font-family: 'Exo2';
    src: local('Exo2'), url('./Exo2-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo2';
    src: local('Exo2'), url('./Exo2-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Druk";
    src: url("Druk.eot");
    src: url("Druk.eot?#iefix") format("embedded-opentype"),
    url("Druk.woff2") format("woff2"),
    url("Druk.woff") format("woff"),
    url("Druk.ttf") format("truetype"),
    url("Druk.svg#Druk Wide Bold") format("svg");
    font-style: normal;
    font-display: swap;
}
