.banner {
    position: relative;
    background: var(--bg-grey) url("../../assets/images/banner-carriers.png") no-repeat center;
    background-size: cover;
    min-height: 634px;
    display: flex;
    align-items: center;
}

.banner::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--primary-color);
    opacity: .67;
    z-index: 4;
}

.container {
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
    z-index: 5;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem 0;
    transform: translateY(-30%);
}

.title {
    font-size: var(--font-size-title);
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 300;
    text-transform: uppercase;
}

.desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 84px;
}

@media (max-width: 767px) {
    .container {
        transform: translateY(-20%);
    }

    .desc {
        grid-template-columns: 1fr;
        gap: 44px;
    }
}
