.cards {
    margin: -180px auto 0;
    position: relative;
    z-index: 6;
    max-width: var(--max-width);
    display: grid;
    gap: 45px;
    padding: 0 1rem;
}

.card {
    background: var(--bg-grey);
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
}

.card:first-child {
    color: black;
}

.card:nth-of-type(2) {
    background: var(--warning-color);
    grid-template-columns: 2fr 1fr;
}

.card:nth-of-type(3) {
    background: var(--primary-color);
}

.card h4 {
    font-family: Druk, sans-serif;
    font-size: var(--font-size-lg);
    color: white;
    margin: 0 0 28px;
}

.card:first-child h4 {
    color: var(--warning-color);
}

.body {
    padding: 33px 58px 46px 33px;
}

.video {
    background: var(--primary-color);
}

.card .img {
    padding-bottom: calc(100% / 2.6);
    background-size: cover;
}

.card:first-child .img {
    background: var(--bg-grey) url("../../assets/images/carriers/carrier-1.webp") no-repeat center;
    background-size: cover;
}

.card:nth-of-type(2) .img {
    background: var(--bg-grey) url("../../assets/images/carriers/carrier-2.webp") no-repeat center;
    background-size: cover;
}

.card:nth-of-type(3) .img {
    background: var(--bg-grey) url("../../assets/images/carriers/carrier-3.webp") no-repeat center;
    background-size: cover;
}

@media (max-width: 992px) {
    .card {
        grid-template-columns: 1fr 1fr;
    }

    .card:nth-of-type(2) {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .card {
        grid-template-columns: 1fr;
    }

    .card:nth-of-type(2) {
        grid-template-columns: 1fr;
    }

    .card:nth-of-type(2) .body {
        order: 1;
    }

    .card:nth-of-type(2) .img {
        order: 2;
    }

    .card .img {
        padding-bottom: calc(100% / 2);
    }
}
