.form {
    display: grid;
    gap: 14px;
    width: 50%;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.input {
    height: 48px;
    width: 100%;
    border: 0;
    padding: .5rem 1rem;
}

.textarea {
    height: 96px;
    padding: .5rem 1rem;
}

.button {
    height: 48px;
    color: white;
    background: var(--warning-color);
    border: 0;
}
