.contacts {
    padding: 62px 0 40px;
}

.contacts h2 {
    text-align: center;
    color: var(--black-color);
    margin-bottom: 46px;
}

.banner {
    background: var(--bg-grey) url("../../assets/images/banner.webp") no-repeat center;
    background-size: cover;
}

.banner .container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 25px 1rem;
}
