.banner {
    position: relative;
    min-height: 494px;
    height: 100%;
    width: 100%;
    background: var(--bg-grey) url("../../assets/images/banner-about-us.webp") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--primary-color);
    opacity: .8;
    z-index: 4;
}

.container {
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
    z-index: 5;
    color: white;
    padding: 0 1rem;
    width: 100%;
    transform: translateY(-30%);
}

.title {
    font-size: var(--font-size-title);
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 300;
    text-transform: uppercase;
}

.desc {
    font-size: var(--font-size-sub);
    font-weight: bold;
}

.card {
    background: var(--bg-grey);
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 60% 40%;
    margin: -150px auto 0;
    position: relative;
    z-index: 6;
}

.content {
    padding: 66px 105px 66px 46px;
}

.video {
    /*background: var(--primary-color);*/
}

.video iframe {
    border: 0;
}

@media (max-width: 992px) {
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 767px) {
    .content {
        padding: 33px 1rem 33px 1rem;
    }
}
