.icon {
    width: 60px;
    height: 40px;
    margin-bottom: 34px;
}

.title {
    font-size: var(--font-size-lg);
    margin-bottom: 24px;
    font-family: Druk, sans-serif;
    color: var(--primary-color);
}
